%table.table.table-condensed.table-striped{style: "table-layout: fixed; word-wrap: break-word;"}
  %thead
    %tr
      %th Адрес страницы
      %th Дата последнего изменения
      %th Регулярное выражение
      %th Проверить
      %th Действия
  #accordion2.accordion
    %tbody
      - @sites.each do |site|
        %tr.site-link{data:{url: site_path(site)}}
          %td.main-link= link_to site.site_url, site.site_url, target: "_blank"
          %td= site.site_updated_at.try(:getlocal).try(:strftime, "%d.%m.%Y %H:%M")
          %td= simple_format(h( site.site_regexp))
          %td.main-link= link_to '<i class="icon-refresh"></i>'.html_safe, update_time_site_path(site), method: :put, class: "btn" 
          %td.main-link
            = link_to '<i class="icon-pencil"></i>'.html_safe, edit_site_path(site), class: "btn" 
            = link_to '<i class="icon-trash"></i>'.html_safe, site_path(site), method: :delete, class: "btn btn-danger"       
= will_paginate(@sites, renderer: BootstrapLinkRenderer)